<!-- extend base layout -->
{% extends "index_base.html" %}

{% block head_css %}
        {{ super() }}
        <link href="{{url_for('static',filename='css/custom.css')}}" rel="stylesheet">
{% endblock %}

{% block content %}

<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
       <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
       <li data-target="#carousel-example-generic" data-slide-to="1" ></li>
       <li data-target="#carousel-example-generic" data-slide-to="2" ></li>
       <li data-target="#carousel-example-generic" data-slide-to="3" ></li>
    </ol>
    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="item active">
            <div class="jumbotron" style="background: url('static/img/mac_bg.png');background-size: 100% 100%;background-repeat: no-repeat;">
            <div class="container">
            <h1><i class="fa fa-desktop"></i>為什麼 Mac 就是不一樣？</h1>
            <p>{{_("全新作風，全方位勝任。")}}</p>
            
            <center>
            <p><a class="btn btn-primary btn-lg" href="https://www.apple.com/hk/macos/big-sur/"
                 role="button">{{_("Star it")}} <i class="fa fa-star"></i></a></p>
            </center>
            </div>
            </div>
        </div>

        <div class="item">
            <div class="jumbotron" style="background: url('static/img/slide2.jpg');background-size: 100% 100%;background-repeat: no-repeat;">
            <div class="container">
            <h1><i class="fa fa-github"></i> {{_("為什麼 iPad 就是不一樣？")}}</h1>
                <p>{{_("種種新可能，唯有 iPad 才可能。")}}</p>
            <center>
                <p><a class="btn btn-primary btn-lg" href="https://www.apple.com/hk/ipad/why-ipad/" role="button">{{_("Issues")}} &raquo;</a></p>
            </center>
            </div>
            </div>
        </div>

        <div class="item">
            <div class="jumbotron" style="background: url('static/img/slide3.jpg');background-size: 100% 100%;background-repeat: no-repeat;">
            <div class="container">
            <h1><i class="fa fa-book"></i> {{_("為什麼 iPhone 就是不一樣？")}}</h1>
            <p>{{_("一新耳目，一用駕輕就熟。")}}</p>
            <center>
            <p><a class="btn btn-primary btn-lg" href="http://flask-appbuilder.readthedocs.org/en/latest/" role="button">{{_("Documentation")}} &raquo;</a></p>
            </center>
            </div>
            </div>
        </div>

        <div class="item">
            <div class="jumbotron" style="background: url('static/img/slide4.jpg');background-size: 100% 100%;background-repeat: no-repeat;">
            <div class="container">
            <h1><i class="fa fa-play"></i> {{_("為什麼 Apple Music 就是不一樣？")}}</h1>
            <p>{{_("精妙，聽所未聽。")}}</p>
            <center>
            <p><a class="btn btn-primary btn-lg"  href="login" role="button">{{_("Login")}} &raquo;</a></p>
            </center>
            </div>
            </div>
        </div>
</div>

    <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>

</div>
      </div>
         
             {% for data in datas: %}
          
                {% for col in list_columns: %}
                    {% if data[col] and col =='background': %}
                     <div class="row" style="{{data[col]}}">
                     {% elif data[col] and col== 'icon': %} 
                     
                        <div class="col-md-3 col-md-offset-1 col-xs-offset-1 ">
                   
                     <h1><i class="{{data[col]}}"></i></h1>
                      </div>
                    {% elif data[col] and col== 'heading' %}
                  
                        <div class="col-md-7 col-md-offset-1 col-xs-offset-1">
                    <h2 class="featurette-heading"><P>{{data[col]}}</P>
                    {% elif data[col] and col== 'sub_heading' %}
                    <P><span class="text-muted">'{{data.sub_heading}}'</span></P></h2>
                    <ul>
                    {% elif data[col] %}
                    <li class="lead tight">{{data[col]}}</li>
                    {% endif %}
                    
                {% endfor %}
                </ul>
                </div>
              </div>
            {% endfor %}
{% endblock %}
